html,
body{
    margin: 0;
    padding: 0;
  }

  .header {
    color: #EEE;
    text-align: center;
    font-size: 75px;
  }
  
  body {
    background-color: #EBCFC4;
    padding: 50px 0;
    font-family:  "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
  }

  .container{
    box-sizing: border-box;
  }

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
.flex-outer li p > label +*, 
.flex-inner{
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer input: not([type='checkbox']){
 padding: 15px;
}

.flex-outer li textarea {
  padding: 15px;
}

.flex-inner li {
  width: 100px;
}

.flex-inner {
  justify-content: space-between;
  padding: 0 8px;
}

.flex-outer li button {
  padding: 8px 16px;
  margin-right: auto;
  border: none;
  color: #080808;
  background: pink;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer {
  max-width: 800px;
  margin: auto;
}

.flex-outer > li:not(:last-child){
  margin-bottom: 20px;
}

.flex-inner,
.flex-outer {
  list-style-type: none;
  padding: 0%;
}